.cuisines-not-found {
    display: flex;
	justify-content: center;
	text-align: center;
    max-width: 750px;
    max-height: 500px;
    opacity: 0.75;
    margin-top: 10px;
    margin: 0 auto;
    margin-left: 280px;
}