// colors global

$white: #fff;
$black: #000;
$gray-transp: rgba(255, 255, 255, 0.5);
$gray-shadow: rgba(120, 120, 120, 0.4);
$white-trans: rgba(255, 255, 255, 0.75);
$blue-sidebar: rgb(5, 68, 104);
$blue-sidebar-hover: #0c7db1;

// colors cards

$purple: #aa49b7;
$purple-hover: #c774d2;
$red: #cf2a2a;
$red-hover: #f76565;
$blue:#3788e8;
$blue-hover:#7fbaff;

// colors calculator 

$green-ligth: #54ed39;
$black-transp: rgba(0,0,0,.25);
$gray-transp-mid: rgba(255, 255, 255, 0.85);


 